<%- include('partials/header', { title: 'Profilul Meu' }) %>

<div class="container mt-4">
    <h3>Garajul Meu</h3>
    <% if (cars && cars.length > 0) { %>
        <div class="row">
            <% cars.forEach(car => { %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="<%= car.imageUrls[0] %>" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title"><%= car.make %> <%= car.model %></h5>
                            <p class="card-text">Număr: <%= car.plateNumber %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>Nu ai adăugat nicio mașină încă.</p>
    <% } %>

    <form action="/logout" method="POST" class="mt-3">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<%- include('partials/footer') %>
