<%- include('partials/header', { title: 'Garajul Meu' }) %>

<div class="profile-container">
    <h3>Garajul Meu</h3>
    <% if(cars.length > 0) { %>
        <div class="cars-grid">
            <% cars.forEach(car => { %>
                <div class="car-card">
                    <img src="<%= car.imageUrls[0] %>" class="car-img">
                    <div class="car-info">
                        <div class="flag-md">
                            <img src="/images/drapel-md.png"><span>MD</span>
                        </div>
                        <div class="plate"><%= car.plateNumber %></div>
                        <div class="make-model"><%= car.make %> <%= car.model %></div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>Nu ai adăugat nicio mașină încă.</p>
    <% } %>
    <form action="/logout" method="POST">
        <button type="submit" class="btn-logout">Logout</button>
    </form>
</div>

<%- include('partials/footer') %>
